* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --bg: #f7f8fa;
  --card: #ffffff;
  --text: #1d2433;
  --muted: #6b7280;
  --brand: #0ea5e9;
  --brand-dark: #0284c7;
  --ring: rgba(14, 165, 233, 0.35);
}

#course-title{
    display: block;
    background-color: var(--brand-dark);
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: var(--text);
}

nav {
    display: flex;
    background-color: var(--muted);
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

nav ul li {
    flex: 1 1 auto;
    margin: 0 40PX;
}

nav ul li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Roboto';

}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-color: red;
    font-weight: 700;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(249, 243, 243);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 20px;
    padding: 20px;
}

h1 {
    grid-column: 1 / -1;
    text-align: center;
    color: var(--text);
    font-family: 'Roboto';
    font-weight: bold;
}

section {
    border: 1px solid var(--muted);
    border-radius: 8px;
    display: block;
}

.card h2 {
    background-color: var(--brand-dark);
    color: var(--text);
    text-align: center;
    padding: 8px;
    font-family: 'Roboto';
    font-size: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 8px;
}

.card p {
    color: var(--text);
    font-family: 'Roboto';
    margin: 5px;
}

.card ul {
    display: block;
}

.card ul li a {
    position: relative;
    justify-content: center;
}

footer {
    background-color: var(--brand-dark);
    padding: 20px;
}

footer p {
    color: var(--text);
    font-weight: bold;
    text-align: center;
}

.card:nth-of-type(2) {
  text-align: center;            /* centers heading and paragraph */
}

.card:nth-of-type(2) ul {
  padding: 0;
  display: inline-block;         /* allows centering the list */
  text-align: left;              /* keep list items left-aligned */
}

.card:nth-of-type(2) li {
  margin: 15px 15px 0;
}

#lastModified {
    color: brown
}